<div class="page-header">
  <h1>Target Portfolio #<%= @target_portfolio.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Risk rank</dt>
  <dd><%= @target_portfolio.risk_rank %></dd>

  <dt>Pea compatible</dt>
  <dd><%= @target_portfolio.pea_compatible %></dd>

  <dt>Expected return</dt>
  <dd><%= @target_portfolio.expected_return %></dd>

  <dt>Standard deviation</dt>
  <dd><%= @target_portfolio.standard_deviation %></dd>

</dl>
