<% if devise_error_messages! != "" %>
<div class="alert alert-danger">
  <%= devise_error_messages! %>
</div>
<% end %>

<div class="page-header">
  <h3>Sign up for a personal account</h3>
</div>

<div class="row">

  <!-- Signup panel -->
  <div class="col-md-8">
    <div class="panel panel-primary" id="signup-form">
      <div class="panel-body">

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form-horizontal"}) do |f| %>

        <legend>Tell us about yourself</legend>

        <!-- 1. Basic user info -->
        <fieldset class="input-section">
          <h5 class="input-header text-info">1. Information to establish your account</h5>
          <div class="form-group">
            <%= f.label :first_name, "Name", class: "col-sm-3 control-label" %>
            <div class="col-sm-4">
              <%= f.text_field :first_name, class: "form-control input-sm", placeholder: "First"%>
            </div>
            <div class="col-sm-4">
              <%= f.text_field :last_name, class: "form-control input-sm", placeholder: "Last"%>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :email, class: "col-sm-3 control-label" %>
            <div class="col-sm-8">
              <%= f.email_field :email, class: "form-control input-sm", placeholder: "Email" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :password, class: "col-sm-3 control-label" %>
            <div class="col-sm-4">
              <%= f.password_field :password, class: "form-control input-sm", placeholder: "Password", autocomplete: "off" %>
              <% if @validatable %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
            </div>
            <div class="col-sm-4">
              <%= f.password_field :password_confirmation, class: "form-control input-sm", placeholder: "Confirm Password", autocomplete: "off" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :dob, "Date of birth", class: "col-sm-3 control-label" %>
            <div class="col-sm-4">
              <%= f.date_field :dob, class: "form-control input-sm", placeholder: "dd/mm/yyyy" %>
            </div>
          </div>
        </fieldset>

        <!-- 2. Contact Details -->
        <fieldset class="input-section">
          <h5 class="input-header text-info">2. Contact Details</h5>
          <div class="form-group">
            <%= f.label :appartment, class: "col-sm-3 control-label" %>
            <div class="col-sm-8">
              <%= f.text_field :appartment, class: "form-control input-sm", placeholder: "Number, floor, building (optional)"%>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :residence, class: "col-sm-3 control-label" %>
            <div class="col-sm-8">
              <%= f.text_field :residence, class: "form-control input-sm", placeholder: "Residence (optional)"%>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :street, "Address", class: "col-sm-3 control-label" %>
            <div class="col-sm-8">
              <%= f.text_field :street, class: "form-control input-sm", placeholder: "Street address"%>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :county, class: "col-sm-3 control-label" %>
            <div class="col-sm-8">
              <%= f.text_field :county, class: "form-control input-sm", placeholder: "County (optional)"%>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :post_code, class: "col-sm-3 control-label" %>
            <div class="col-sm-2">
              <%= f.text_field :post_code, class: "form-control input-sm", placeholder: "00000"%>
            </div>
            <%= f.label :city, class: "col-sm-1 control-label" %>
            <div class="col-sm-5">
              <%= f.text_field :city, class: "form-control input-sm", placeholder: "City"%>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :phone, class: "col-sm-3 control-label" %>
            <div class="col-sm-3">
              <%= f.text_field :phone, class: "form-control input-sm", placeholder: "01 23 45 67 89"%>
            </div>
          </div>
        </fieldset>


        <!-- 3. Financial info form -->
        <fieldset class="input-section">
          <h5 class="input-header text-info">3. Financial Background</h5>
          <div class="form-group">
            <%= f.label :employment_status, class: "col-sm-3 control-label" %>
            <div class="col-sm-4">
              <%= f.select :employment_status, ["Please select", "Employed (full-time)", "Employed (part-time)", "Self employed", "Student", "Retired", "Unemployed"], {}, class: "form-control input-sm" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :annual_income, class: "col-sm-3 control-label" %>
            <div class="col-sm-3">
              <div class="input-group">
                <span class="input-group-addon input-sm">$</span>
                <%= f.text_field :annual_income, class: "form-control input-sm", placeholder: "0.00"%>
              </div>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :net_worth, class: "col-sm-3 control-label" %>
            <div class="col-sm-3">
              <div class="input-group">
                <span class="input-group-addon input-sm">$</span>
                <%= f.text_field :net_worth, class: "form-control input-sm", placeholder: "0.00"%>
              </div>
            </div>
          </div>
        </fieldset>

        <!-- 4. Goal definition form -->
        <!-- <fieldset class="input-section">
          <h5 class="text-info">4. Information to create your first goal</h5>
          <div class="form-group">
            <label for="goaltype" class="col-sm-3 control-label">Goal type</label>
            <div class="col-sm-4">
              <select class="form-control input-sm">
                <option>Please select</option>
                <option>House</option>
                <option>Retirement</option>
                <option>Build wealth</option>
                <option>Education</option>
                <option>Safety net</option>
                <option>Other</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="goalyears" class="col-sm-3 control-label">Years until goal</label>
            <div class="col-sm-2">
              <input type="text" class="form-control input-sm" id="goaltype" placeholder="">
            </div>
          </div>
          <div class="form-group">
            <label for="savings" class="col-sm-3 control-label">Monthly savings</label>
            <div class="col-sm-3">
              <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="text" class="form-control input-sm" id="savings" placeholder="">
              </div>
            </div>
          </div>
        </fieldset> -->

        <!-- 5. Terms agreement form -->
        <div class="form-group">
          <div class="col-sm-offset-1 col-sm-10">
            <div class="checkbox-inline">
              <%= f.label :terms_of_service do %>
              <%= f.check_box :terms_of_service %>
              By checking this box, you acknowledge that you have read and agree to the terms below.
              <% end %>
            </div>
          </div>
          <div class="col-sm-offset-1 col-sm-10">
            <div class="well well-sm legal-terms">
              <p>Lorem ipsum dolor sit amet, ex semper inermis nam, nobis fabulas his an. Prima novum sea ut. Ad aliquid abhorreant pri, in ius eros regione patrioque, id has augue ignota fabellas. Malorum persequeris quo ea, te porro dicam vim. Quod appetere accommodare vix cu.</p>

              <p>Exerci percipitur dissentias his ne. Hinc epicurei gubergren te pri. Lucilius molestiae te mei. Ea porro oblique sed, vidisse oblique malorum eos an, malorum dissentiet definitiones ut vix.</p>

              <p>Erant accusata at cum, dicam appellantur et per. Qui ad vide admodum, id pri unum tritani nominati. Mel debet nemore ei. Ei nostro tacimates voluptatibus pro. Quo te causae scaevola, ex vim homero audiam.</p>

              <p>Quo docendi singulis scripserit ei. Iuvaret ponderum fabellas eum ad. Eripuit ocurreret sed ea. Cum semper oblique an, wisi nonumy nominati ad duo, quo ut essent propriae placerat. Mel cu cetero constituto, ea eam appetere verterem inimicus, mei clita alienum mentitum ut. Duo homero verterem deseruisse id, eum dictas assueverit cu, nam ei vide mollis atomorum.</p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-1 col-sm-3">
            <%= f.submit "Submit", class: "btn btn-primary btn-block" %>
          </div>
        </div>

        <% end %>


      </div>
    </div>
  </div>

  <!-- Talk to us -->
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-body">
        <legend>Questions? Talk to us.</legend>
        <div class="media">
          <div class="media-left">
            <%= image_tag "contact_thumb.jpg", class: "thumbnail" %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Talk to one of our product specialists, like Guillaume.</h4>
          </div>
        </div>
        <h4>
          <i class="fa fa-phone"></i>
          &emsp;+1 (312) 111-1213
        </h4>
        <h4>
          <i class="fa fa-envelope"></i>
          <a href="mailto:support@example.com">&emsp;support@example.com</a>
        </h4>
      </div>
    </div>
  </div><!-- end Talk to us -->

</div><!-- end row -->
