<% if @allocation.errors.any? %>
  <% @allocation.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h1>Add Allocation</h1>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_allocation" class="form-horizontal">
      <!-- Label and input for target_portfolio_id -->
      <div class="form-group">
        <label for="target_portfolio_id" class="col-sm-2 control-label">
          Target portfolio
        </label>
        <div class="col-sm-10">
          <input type="text" id="target_portfolio_id" name="target_portfolio_id" placeholder="Target portfolio" class="form-control" value="<%= @allocation.target_portfolio_id %>">
        </div>
      </div>

      <!-- Label and input for etf_id -->
      <div class="form-group">
        <label for="etf_id" class="col-sm-2 control-label">
          Etf
        </label>
        <div class="col-sm-10">
          <input type="text" id="etf_id" name="etf_id" placeholder="Etf" class="form-control" value="<%= @allocation.etf_id %>">
        </div>
      </div>

      <!-- Label and input for weight -->
      <div class="form-group">
        <label for="weight" class="col-sm-2 control-label">
          Weight
        </label>
        <div class="col-sm-10">
          <input type="text" id="weight" name="weight" placeholder="Weight" class="form-control" value="<%= @allocation.weight %>">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <input type="submit" value="Create Allocation" class="btn btn-primary">
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Add Allocation</h3>
      </div>
      <div class="panel-body">
        <form action="/create_allocation" class="form-horizontal">
          <!-- Label and input for target_portfolio_id -->
          <div class="form-group">
            <label for="target_portfolio_id" class="col-sm-2 control-label">
              Target portfolio
            </label>
            <div class="col-sm-10">
              <input type="text" id="target_portfolio_id" name="target_portfolio_id" placeholder="Target portfolio" class="form-control" value="<%= @allocation.target_portfolio_id %>">
            </div>
          </div>

          <!-- Label and input for etf_id -->
          <div class="form-group">
            <label for="etf_id" class="col-sm-2 control-label">
              Etf
            </label>
            <div class="col-sm-10">
              <input type="text" id="etf_id" name="etf_id" placeholder="Etf" class="form-control" value="<%= @allocation.etf_id %>">
            </div>
          </div>

          <!-- Label and input for weight -->
          <div class="form-group">
            <label for="weight" class="col-sm-2 control-label">
              Weight
            </label>
            <div class="col-sm-10">
              <input type="text" id="weight" name="weight" placeholder="Weight" class="form-control" value="<%= @allocation.weight %>">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <input type="submit" value="Create Allocation" class="btn btn-primary">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
