<div class="page-header">
  <h1>Objective #<%= @objective.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Account</dt>
  <dd><%= @objective.account_id %></dd>

  <dt>Target portfolio</dt>
  <dd><%= @objective.target_portfolio_id %></dd>

  <dt>Name</dt>
  <dd><%= @objective.name %></dd>

  <dt>Category</dt>
  <dd><%= @objective.category %></dd>

  <dt>Target date</dt>
  <dd><%= @objective.target_date %></dd>

  <dt>Target value</dt>
  <dd><%= @objective.target_value %></dd>

</dl>
