<% if @etf.errors.any? %>
<% @etf.errors.full_messages.each do |message| %>
<div class="alert alert-dismissable alert-danger">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <%= message %>
</div>
<% end %>
<% end %>

<div class="page-header">
</div>


<div class="row">
  <div class=" col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Edit : &emsp; Exchange Traded Fund</h3>
      </div>
      <div class="panel-body">

        <%= form_for(@etf, html: {class: "form-horizontal"}) do |f| %>

        <!-- Label and input for name -->
        <div class="form-group">
          <%= f.label :name, class: "col-sm-3 control-label" %>
          <div class="col-sm-9">
            <%= f.text_field :name, class: "form-control", placeholder: :name  %>
          </div>
        </div>

        <!-- <div class="form-group">
            <label for="name" class="col-sm-2 control-label">
              Name
            </label>
            <div class="col-sm-10">
              <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @etf.name %>">
            </div>
          </div>
        -->
        <div class="form-group">
          <%= f.label :ticker, class: "col-sm-3 control-label" %>
          <div class="col-sm-9">
            <%= f.text_field :ticker, class: "form-control", placeholder: :ticker  %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :isin, "ISIN", class: "col-sm-3 control-label" %>
          <div class="col-sm-9">
            <%= f.text_field :isin, class: "form-control", placeholder: :isin  %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :asset_class, class: "col-sm-3 control-label" %>
          <div class="col-sm-9">
            <%= f.text_field :asset_class, class: "form-control", placeholder: :asset_class  %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :currency, class: "col-sm-3 control-label" %>
          <div class="col-sm-9">
            <%= f.text_field :currency, class: "form-control", placeholder: :currency  %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :manager, class: "col-sm-3 control-label" %>
          <div class="col-sm-9">
            <%= f.text_field :manager, class: "form-control", placeholder: :manager  %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :fee, class: "col-sm-3 control-label" %>
          <div class="col-sm-9">
            <%= f.text_field :fee, class: "form-control", placeholder: :fee  %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <%= f.submit "Update ETF", class: "col-sm-offset-2 col-sm-3 btn btn-primary" %>
            <%= link_to "Cancel", etfs_path, class: " col-sm-offset-1 col-sm-3 btn btn-info" %>
          </div>
        </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
