<% if @etf.errors.any? %>
  <% @etf.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h1>Add Etf</h1>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_etf" class="form-horizontal">
      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="col-sm-2 control-label">
          Name
        </label>
        <div class="col-sm-10">
          <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @etf.name %>">
        </div>
      </div>

      <!-- Label and input for ticker -->
      <div class="form-group">
        <label for="ticker" class="col-sm-2 control-label">
          Ticker
        </label>
        <div class="col-sm-10">
          <input type="text" id="ticker" name="ticker" placeholder="Ticker" class="form-control" value="<%= @etf.ticker %>">
        </div>
      </div>

      <!-- Label and input for isin -->
      <div class="form-group">
        <label for="isin" class="col-sm-2 control-label">
          Isin
        </label>
        <div class="col-sm-10">
          <input type="text" id="isin" name="isin" placeholder="Isin" class="form-control" value="<%= @etf.isin %>">
        </div>
      </div>

      <!-- Label and input for asset_class -->
      <div class="form-group">
        <label for="asset_class" class="col-sm-2 control-label">
          Asset class
        </label>
        <div class="col-sm-10">
          <input type="text" id="asset_class" name="asset_class" placeholder="Asset class" class="form-control" value="<%= @etf.asset_class %>">
        </div>
      </div>

      <!-- Label and input for currency -->
      <div class="form-group">
        <label for="currency" class="col-sm-2 control-label">
          Currency
        </label>
        <div class="col-sm-10">
          <input type="text" id="currency" name="currency" placeholder="Currency" class="form-control" value="<%= @etf.currency %>">
        </div>
      </div>

      <!-- Label and input for manager -->
      <div class="form-group">
        <label for="manager" class="col-sm-2 control-label">
          Manager
        </label>
        <div class="col-sm-10">
          <input type="text" id="manager" name="manager" placeholder="Manager" class="form-control" value="<%= @etf.manager %>">
        </div>
      </div>

      <!-- Label and input for fee -->
      <div class="form-group">
        <label for="fee" class="col-sm-2 control-label">
          Fee
        </label>
        <div class="col-sm-10">
          <input type="text" id="fee" name="fee" placeholder="Fee" class="form-control" value="<%= @etf.fee %>">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <input type="submit" value="Create Etf" class="btn btn-primary">
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Add Etf</h3>
      </div>
      <div class="panel-body">
        <form action="/create_etf" class="form-horizontal">
          <!-- Label and input for name -->
          <div class="form-group">
            <label for="name" class="col-sm-2 control-label">
              Name
            </label>
            <div class="col-sm-10">
              <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @etf.name %>">
            </div>
          </div>

          <!-- Label and input for ticker -->
          <div class="form-group">
            <label for="ticker" class="col-sm-2 control-label">
              Ticker
            </label>
            <div class="col-sm-10">
              <input type="text" id="ticker" name="ticker" placeholder="Ticker" class="form-control" value="<%= @etf.ticker %>">
            </div>
          </div>

          <!-- Label and input for isin -->
          <div class="form-group">
            <label for="isin" class="col-sm-2 control-label">
              Isin
            </label>
            <div class="col-sm-10">
              <input type="text" id="isin" name="isin" placeholder="Isin" class="form-control" value="<%= @etf.isin %>">
            </div>
          </div>

          <!-- Label and input for asset_class -->
          <div class="form-group">
            <label for="asset_class" class="col-sm-2 control-label">
              Asset class
            </label>
            <div class="col-sm-10">
              <input type="text" id="asset_class" name="asset_class" placeholder="Asset class" class="form-control" value="<%= @etf.asset_class %>">
            </div>
          </div>

          <!-- Label and input for currency -->
          <div class="form-group">
            <label for="currency" class="col-sm-2 control-label">
              Currency
            </label>
            <div class="col-sm-10">
              <input type="text" id="currency" name="currency" placeholder="Currency" class="form-control" value="<%= @etf.currency %>">
            </div>
          </div>

          <!-- Label and input for manager -->
          <div class="form-group">
            <label for="manager" class="col-sm-2 control-label">
              Manager
            </label>
            <div class="col-sm-10">
              <input type="text" id="manager" name="manager" placeholder="Manager" class="form-control" value="<%= @etf.manager %>">
            </div>
          </div>

          <!-- Label and input for fee -->
          <div class="form-group">
            <label for="fee" class="col-sm-2 control-label">
              Fee
            </label>
            <div class="col-sm-10">
              <input type="text" id="fee" name="fee" placeholder="Fee" class="form-control" value="<%= @etf.fee %>">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <input type="submit" value="Create Etf" class="btn btn-primary">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
