<div class="page-header">
  <h1>Etf #<%= @etf.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @etf.name %></dd>

  <dt>Ticker</dt>
  <dd><%= @etf.ticker %></dd>

  <dt>Isin</dt>
  <dd><%= @etf.isin %></dd>

  <dt>Asset class</dt>
  <dd><%= @etf.asset_class %></dd>

  <dt>Currency</dt>
  <dd><%= @etf.currency %></dd>

  <dt>Manager</dt>
  <dd><%= @etf.manager %></dd>

  <dt>Fee</dt>
  <dd><%= @etf.fee %></dd>

</dl>
